.nav1 {
    background-color: #fff;
    border-color: #fff;
    border-bottom: 1px solid #333;
}

.nav2 {
    background-color: #1c1c1c;
    height: 40px;
    margin: 0 auto;
    position: relative;
    padding: 0;
}

.nav3>li>a {
    color: #fff !important; 
}

.nav3>li>a:hover {
    color: #5af345 !important
}

.nav1>div>div>ul>li>a {
    color: #000 !important;
}

.nav1>div>div>ul>li>a:hover
{
    color: #484948 !important;
}

.fix-top {
    margin-top: 20px;
}

.thumbs-fix {
    padding: 0px;
    background-color: #fff; 
    border-radius: 6px; 
}

.title-img {
    margin-left: 10px;
}

.image-thumb {
    height: 232px !important;
}

.fix-list-width {
    width: 100px;
    height: 70px;
}

.boder-list-img {
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 10px;
    margin-top: 4px;
    padding-left: 0px;
    padding-right: 0px;
}

.img_slider >img {
    width: 250px;
    position: relative; 
    height: 250px;
}
.img_slider >div {
    position: absolute; 
    top: 180px; 
}

.img_slider >div >h5>a,.img_slider >div>p {
    color:#fff;
}

.address_icon {
    color:#03ff03;
}

.recent_img >img {
    width: 266px;
    height: 185px;
}

.recent_img  {
    padding: 0px;
}

.recent_post>p {
    margin-left: 0px;
    margin-bottom: 2px;
}

.recent_post>b {
    font-size: 24px;
}

.list_recent_post {
    margin-top: 10px;
    padding-left: 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f3f3f3;
}

.footer_img>a>img {
    width: 100px;
    height: 70px;
}

.footer_post>p {
    padding-left: 0px;
}

.footer_post>b>a {
    color:#c8f2be;
}

.footer-fix {
    margin-top: 10px;
}

.facebook {
    height: 250px;
}

.fix-padding{
    padding: 0px;
}

.random_post_content >div>div>p {
    margin-left: 45px;
}
.random_post_content >div>div>h6 {
    margin-left: 46px;
    padding: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

.footer {
    background-color: #303030;
    color: #fff;
    margin: 0px;
}

.footer1 {
    margin: 11px 0px;
}

.bottom_b {
    border-bottom: 2px solid #dd3030;
}

.slider1 {
    padding:15px 0px;
}

.slider2{
    padding-bottom: 20px;
}

/*slide*/
body {
    margin: 0;
    padding: 0;
}
a {
    color: #09f;
}
a:hover {
    text-decoration: none;
}
#back_to_camera {
    clear: both;
    display: block;
    height: 80px;
    line-height: 40px;
    padding: 20px;
}
.fluid_container {
    margin: 0 auto;
    max-width: 1000px;
    width: 90%;
}

#thumbnail-slider {
    padding: 0px !important;
}

/*Contact sectiom*/
.content-header{
    font-family: 'Oleo Script', cursive;
    color:#fcc500;
    font-size: 45px;
}

.section-content{
    text-align: center; 

}
#contact{
    font-family: 'Teko', sans-serif;
    padding-top: 60px;
    width: 100%;
    height: 700px;
    background: #487c76; /* fallback for old browsers */
    color : #fff;    
}
.contact-section{
    padding-top: 40px;
}
.contact-section .col-md-6{
    width: 50%;
}

.form-line{
    border-right: 1px solid #B29999;
}

.form-group{
    margin-top: 10px;
}
label{
    font-size: 1.3em;
    line-height: 1em;
    font-weight: normal;
}
.form-control{
    font-size: 1.3em;
    color: #080808;
}
textarea.form-control {
    height: 135px;
    /* margin-top: px;*/
}

.submit{
    font-size: 1.1em;
    float: right;
    width: 150px;
    background-color: transparent;
    color: #fff;

}

.fix-control {
    background: none;
    border: none;
    border-bottom: 1px dashed #f80505;  
}

.box-new {
    box-shadow: 2px 5px 5px -1px #030303;
}

#clock{
    background-image:url('');
    background-size:cover;
    background-position: center;
    height: 250px;
    border: 1px solid #fff;
}

.checkbox-inline {
    width: 118px;
    margin-left: 10px;
}

.title-new {
    font-family: initial;
    text-shadow: 4px 4px 7px #333;
    padding-left: 11px
}

.edit-profile {
    border: 1px solid #dfdfdf;
    margin: 10px 0px;
    padding: 10px 0px;
    box-shadow: 0px 3px 7px -1px #878383;
}

.profile {
    margin: 10px 0px;
    padding: 10px 0px;
    border: 1px solid #e7e7e7;
    background: ghostwhite;
    font-family: initial;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.control-label ,.panel-body,.controls {
    font-family: initial;
}

.personal-info {
    margin:10px 0px;
    font-family: initial;
}

.form-edit {
    padding: 10px 0px;
    border: 1px solid #f0f0f0;
    box-shadow: 1px 1px 2px 0px #333;
}

.panel-body {
    background: darkturquoise;
}

.about {
    padding: 10px 0px;
    background: aqua;
    width: 824px;
    box-shadow: 0px 5px 5px 0px #333;
    margin: 21px 15px;
    padding: 34px;
}

.back-ground {
    background: url(images/background/8.jpg);
}

.tab-content-baiviet {
    margin: 49px 0px;
}

.create-description {
    height: 538px !important;
}

.padding-user {
    padding:5px;
}