<h5><b class="bottom_b">TOP USER</b></h5>
  <% @topUsers.each do |user| %>
  <div class="col-md-12 footer-fix fix-padding">
  <div class="col-md-3 footer_img fix-padding">
    <a href="" title="">
      <img src="images/s1.jpg" style="border-radius:50%;width: 75px; height: 75px "  alt=""></a>
    </div>
    <div class="col-md-9 footer_post fix-padding">
      <h6><b><%= user.name %></b></h6>
      <p class="title-img"> <i class="fa fa-calendar-times-o" aria-hidden="true"></i> March 17, 2016</p>
    </div>
  </div>
  <% end %>
  