<table style="width: 100%;">
<% test.each do |t| %>

<tr>
          <td style="padding-right: 20px" width="100">
            <%= image_tag t.user.picture.url ,class: "img-circle", height:"55", width:"55" if current_user.picture?%>
          </td>
          <td align="left">
            <span class="page-newsfeed-06">
              <%= t.user.name %>
            </span>
            <span class="font-custom-01">
              <br>
              <%= time_ago_in_words(t.created_at) %> ago.
            </span>               
          </td>
        </tr>
        <tr>
          <td></td>
          <td align="left">
            <%= t.comment %>
          </td>
        </tr>

<% end %>
</table>