<% if liked.count==0 %>
<button type="submit" class="fa fa-thumbs-o-up">&nbsp;&nbsp;Like</button>&nbsp;&nbsp;&nbsp;
<% else %>
<button type="submit" class="fa fa-thumbs-o-down">&nbsp;&nbsp;Unlike</button>&nbsp;&nbsp;&nbsp;
<% end%>