ABOUT</h3>
<div class="row">
    <div class="col-md-12 about">
        <div class="col-sm-12 padding-user">
            <div class="row mgbt-xs-0">
                <label class="col-xs-5 control-label">Ho Va Ten:</label>
                <div class="col-xs-7 controls"><%= @user.name %></div>
            </div>
        </div>
        <div class="col-sm-12 padding-user">
            <div class="row mgbt-xs-0">
                <label class="col-xs-5 control-label">Email:</label>
                <div class="col-xs-7 controls"><%= @user.email %></div>
            </div>
        </div>
        <div class="col-sm-12 padding-user">
            <div class="row mgbt-xs-0">
                <label class="col-xs-5 control-label">City:</label>
                <div class="col-xs-7 controls">Los Angeles</div>
            </div>
        </div>
        <div class="col-sm-12 padding-user">
            <div class="row mgbt-xs-0">
                <label class="col-xs-5 control-label">Country:</label>
                <div class="col-xs-7 controls">United States</div>
            </div>
        </div>
        <div class="col-sm-12 padding-user">
            <div class="row mgbt-xs-0">
                <label class="col-xs-5 control-label">Birthday:</label>
                <div class="col-xs-7 controls">Jan 22, 1984</div>
            </div>
        </div>
        <div class="col-sm-12 padding-user">
            <div class="row mgbt-xs-0">
                <label class="col-xs-5 control-label">Phone:</label>
                <div class="col-xs-7 controls">+1-234-5678</div>
            </div>
        </div>
    </div>