<div id="create-new" class="tab-pane">
    <div class="fix-padding box-new">
        <h3 class="title-new">Tao Bai Viet Moi : </h3> 
        <section id="contact">
            <form>
                <div class="col-md-6 form-line">
                    <div class="form-group">
                        <label for="exampleInputUsername">Địa Điểm :</label>
                        <input type="text" class="form-control fix-control">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail">Giá Thành :</label>
                        <input type="number" class="form-control fix-control" min="0" value="0">
                    </div>  
                    <div class="form-group">
                        <label>Phương Tiện Đi Lại :</label></br>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="xe dap">xe dap
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="xe may">xe may
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="xe oto">xe oto
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="may bay">may bay
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="tau hoa">tau hoa
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="di bo">di bo
                        </label>
                    </div>
                    <div id='clock'></div>
                    <div class="form-group">
                        <label for="telephone">Ảnh :</label>
                        <input type="file" id='getval' class="form-control fix-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for ="description"> Mô Tả :</label>
                        <textarea  class="form-control create-description" placeholder="Description"></textarea>
                    </div>
                    <div>
                        <button type="button" class="btn btn-default submit"><i class="fa fa-paper-plane" aria-hidden="true"></i> Chia sẻ</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>