<% if marked.count == 0 %>
<button type="submit" class="fa fa-bookmark">&nbsp;&nbsp;add</button>&nbsp;&nbsp;&nbsp;
<% else%>
<button type="submit" class="fa fa-bookmark">&nbsp;&nbsp;remove</button>&nbsp;&nbsp;&nbsp;
<% end%>