<section class="bread-crumb">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumb">
                    <li class="home">
                        <a itemprop="url" href="/" title="Về trang chủ">
                            <span itemprop="title">Trang chủ</span>
                        </a>
                        <span><i class="fa fa-angle-right"></i></span>
                    </li>

                    <li>
                        <a itemprop="url" href="/" title="Ninh Binh">
                            <span itemprop="title">Ninh Binh</span>
                        </a>
                        <span><i class="fa fa-angle-right"></i></span>
                    </li>
                    <li>
                        <strong itemprop="title">Sau "Kong: Skull Island", hãy tới ngay Ninh Bình vì mùa xuân đang là thời điểm nơi đây đẹp nhất!</strong>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="right-content col-lg-9 col-md-9 ">
            <article class="article-main">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h1 class="title-head">
								<a href="#" title="Sau " kong:="" skull="" island",="" hãy="" tới="" ngay="" ninh="" bình="" vì="" mùa="" xuân="" đang="" là="" thời="" điểm="" nơi="" đây="" đẹp="" nhất!"="">
									Sau "Kong: Skull Island", hãy tới ngay Ninh Bình vì mùa xuân đang là thời điểm nơi đây đẹp nhất!
								</a>
							</h1>
                        <div class="article-info">
                            <span><i class="fa fa-user"></i>Userxxx</span><span><i class="fa fa-clock-o"></i>13/03/2017</span>
                        </div>
                        <div class="article-content">
								<h2>Ninh Bình trong Kong: Skull Island đã đẹp nhưng đảm bảo với bạn là Ninh Bình ở ngoài đời còn hùng vĩ và lung linh hơn cả phim. Làm ngay một chuyến đến đây và bạn sẽ phải mỏi tay vì chụp hình đấy!</h2>

<p>Siêu phẩm khiến bao người mong chờ "Kong: Skull Island" cuối cùng cũng đã ra rạp. Tạm quên những lùm xùm không đáng có về sự cố cháy sân khấu trong ngày ra mắt thì đây quả thực là một bộ phim mãn nhãn về cả kĩ xảo lẫn bối cảnh phim vô cùng hùng vĩ và tươi đẹp. Lâu lắm rồi, người Việt mới lại được tự hào "phổng cả mũi" khi những danh lam thắng cảnh, kì quan thiên nhiên của đất nước mình được "lăng xê" cực nhiệt tình trong một bộ phim bom tấn như vậy.</p>

<p>Ninh Bình, Hạ Long, Quảng Bình trên phim cứ gọi là khiến người ta trầm trồ, ngẩn ngơ vì không ngờ trong đất nước mình lại có những nơi thiên nhiên kì vĩ đến vậy. Đến nỗi, xem phim xong chỉ muốn xách balo lên và đi, liền ngay và lập tức để được tận mắt ngắm cho thỏa thích đúng không nào? Vậy thì còn lăn tăn gì nữa mà không book vé để đi ngay cho "nóng". Và tất nhiên, địa điểm không thể không ghé qua đó chính là Ninh Bình. Đây là nơi đã được đoàn làm phim lưu lại lâu nhất để thực hiển rất nhiều cảnh quay. Và e là đến Ninh Bình rồi bạn cũng sẽ phải ở lại thật lâu, dành kha khá thời gian mới có thể khám phá hết tất cả những địa điểm tuyệt vời dưới đây.&nbsp;</p>

<p>Bây giờ đang là mùa xuân, là thời điểm tuyệt vời nhất trong năm để bạn có thể ghé thăm Ninh Bình và tận hưởng trọn vẹn bầu không khí tại nơi đây. Nào là những cảnh đẹp nên thơ trữ tình, rồi sông nước mênh mông, núi non bát ngàn, đã vậy lại còn có chùa Bái Đính đầy yên bình - chỉ mới nghe thôi là ai cũng muốn quẩy ba lô lên đường ngay hôm nay, nhỉ?&nbsp;</p>

<h2><b>Đầm Vân Long</b></h2>

<p>Một địa điểm cực kì thích hợp cho những chuyến "đưa nhau đi trốn". Không ồn ã, xô bồ, đông đúc, đến với Vân Long bạn sẽ được lạc vào một thế giới yên bình và tĩnh lặng với non xanh, nước biếc và xung quanh là rất nhiều những loại động, thực vật và thủy sinh. Đừng quên đi thuyền luồn lách trong các hang động mát mẻ hay ngắm nhìn những đàn cò trắng khi chiều về để hiểu được cảm giác: "tôi đang ở một nơi rất xa, nơi không có khói bụi thành phố. Ở một nơi đẹp như mơ…" nha.</p>

<p><img alt="damvanlong" src="/assets/damvanlong.jpg" /></p>

<h2><strong>Tràng An</strong></h2>

<p>Địa danh sẽ khiến bạn thực sự "lạc trôi" khi xuôi đò theo dòng nước và lạc vào chốn "bồng lai tiên cảnh" với núi non trùng điệp, hệ thống hang động kì ảo và bầu trời cao rộng ngút ngàn. Đến Tràng An vào mùa lúa chín thì cảnh đẹp còn khiến bạn chỉ biết lặng cả người trước những cánh đồng lúa vàng rực trải dài ngút ngàn. Đây cũng là nơi mà chỉ cần giơ máy lên thì tam phương tứ hướng đều sẽ ra ảnh đẹp, khi mà sông nước, núi non và bầu trời hòa quyện với nhau như một bức tranh.</p>

<p><img alt="trangan" src="/assets/trangan.jpg" /></p>

<h2><b>Tam Cốc – Bích Động</b></h2>

<p>Điểm đến chắc chắn sẽ khiến bạn phải chụp hình đến "cháy máy" vì sở hữu hệ thống núi đá vôi và các di tích lịch sử, núi non hùng vĩ được bao quanh bởi dòng sông Ngô Đồng uốn lượn quanh co cực kì xinh đẹp. Quần thể du lịch này cũng sẽ khiến bạn phải đi tham quan "mệt nghỉ" khi có rất nhiều điểm đến đẹp "bất chấp" như Thung Nham, chùa Bích Động, Cố Viên Lầu. Không chỉ giúp bạn mang về những tấm ảnh lung linh – ngàn like, Tam Cốc – Bích Động chắc chắn sẽ khiến bạn thư giãn và thoải mái khi được hòa mình vào thiên nhiên, hít thở không khí trong lành và quên hết những tất bật, mệt mỏi.</p>
                            <p><img alt="tamcoc" src="/assets/tamcoc.jpg" /></p>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 social-sharing margin-bottom-15">

                    <div class="social-media" data-permalink="https://abcd1223.bizwebvietnam.net/bai-viet-mau-2">
                        <label>Chia sẻ: </label>

                        <a target="_blank" href="//www.facebook.com/sharer.php?u=https://abcd1223.bizwebvietnam.net/bai-viet-mau-2" class="share-facebook btn-transition btn-border-hover" title="Chia sẻ lên Facebook">
                            <i class="fa fa-facebook-official" aria-hidden="true"></i>
                        </a>

                        <a target="_blank" href="//twitter.com/share?text=Sau " kong:="" skull="" island ",=" " hãy=" " tới=" " ngay=" " ninh=" " bình=" " vì=" " mùa=" " xuân=" " đang=" " là=" " thời=" " điểm=" " nơi=" " đây=" " đẹp=" " nhất!&amp;url="https://abcd1223.bizwebvietnam.net/bai-viet-mau-2&quot; " class="share-twitter btn-transition btn-border-hover " title="Chia sẻ lên Twitter ">
		<i class="fa fa-twitter "></i>
	</a>

	<a target="_blank " href="//plus.google.com/share?url=https://abcd1223.bizwebvietnam.net/bai-viet-mau-2 " class="share-google btn-transition btn-border-hover " title="+1 ">
		<i class="fa fa-google-plus "></i>
	</a>
	

</div>
						</div>
						<div class="container col-md-2 clearfix">
  <a id="like" class="btn btn-lg btn-block btn-shared btn-like"><span class="fa fa-thumbs-o-up pull-left"></span><span class="like-text">Like</span><span class="unlike-text">Unlike</span></a>
  <script>
$('a.btn-like').on('click', function() {
  $(this).toggleClass('liked');
  $('.like-text,.unlike-text').toggle();
});

</script>
   </div>

						<div class="notification col-lg-12 col-md-12 col-sm-12 col-xs-12 f-left ">
							<!-- Thông báo -->
							<form accept-charset="UTF-8 " action="/posts/page/comments " >

							<!-- Bình luận -->
							<div class="form-comment margin-bottom-30 ">
								<h5 class="title-form-coment ">VIẾT BÌNH LUẬN CỦA BẠN:</h5>
								<div class="layout-comment row margin-bottom-15 ">
									
									<fieldset class="form-group col-xs-12 col-sm-12 col-md-12 ">										
										<textarea placeholder="Nội dung " class="form-control form-control-lg " id="comment " name="Body " rows="6 " maxlength="500 " minlength="5 " required=" "></textarea>
									</fieldset>
								</div>
								<div>
									<button type="submit " class="btn btn-style btn-style-hover btn-transition ">Gửi bình luận</button>
								</div>
							</div> <!-- End form mail -->

							<div class="w100 f-left ">

								<div class="bg-warning padding-15 margin-bottom-15 ">
									<div class="text-warning margin-0 ">
										Nội dung này chưa có bình luận, hãy gửi cho chúng tôi bình luận đầu tiên của bạn.
									</div>
								</div>

							</div>

						</div>
					</div>
				</article>
			</div>

			<aside class="left left-content col-lg-3 col-md-3 col-sm-12 col-xs-12 ">

<div class="sidebar-menu ">
	<div class="sidebar-menu-title ">
		<h2>
			<span>Bài viết nổi bật</span>
		</h2>
	</div>
	<div class="sidebar-menu-content ">
		<div class="sidebar-linklists ">
			<ul>

					<li class="sidebar-menu-list ">
						<a class="ajaxLayer " href="" title="Bức ảnh chụp từ trên cao khiến bạn chỉ muốn lên máy bay đi du lịch ngay và luôn! ">
							<i class="fa fa-play-circle "></i><span>Bức ảnh chụp từ trên cao khiến bạn chỉ muốn lên máy bay đi du lịch ngay và luôn!</span>
						</a>
					</li>

					<li class="sidebar-menu-list ">
						<a class="ajaxLayer " href=" " title="Sau " kong:=" " skull=" " island",="" hãy="" tới="" ngay="" ninh="" bình="" vì="" mùa="" xuân="" đang="" là="" thời="" điểm="" nơi="" đây="" đẹp="" nhất! "=" ">
							<i class="fa fa-play-circle "></i><span>Sau "Kong: Skull Island ", hãy tới ngay Ninh Bình vì mùa xuân đang là thời điểm nơi đây đẹp nhất!</span>
						</a>
					</li>

					<li class="sidebar-menu-list ">
						<a class="ajaxLayer " href=" " title="Ghi ngay vào danh sách những homestay phải đi ở Đà Nẵng trong năm tới ">
							<i class="fa fa-play-circle "></i><span>Ghi ngay vào danh sách những homestay phải đi ở Đà Nẵng trong năm tới</span>
						</a>
					</li>

			</ul>
		</div>
	</div>
</div>

<div class="article_sidebar_banners hidden-sm hidden-xs ">

<div class="block margin-bottom-30 ">
	<a href=" " title="1 ">
		<img class="img-responsive " src="/assets/page_banner_image_1.jpg" alt="abcd1223 ">
	</a>
</div>

<div class="block margin-bottom-30 ">
	<a href=" " title="2 ">
		<img class="img-responsive " src="/assets/page_banner_image_2.jpg" alt="abcd1223 ">
	</a>
</div>

<div class="block ">
	<a href=" " title="3 ">
		<img class="img-responsive " src="/assets/page_banner_image_3.jpg" alt="abcd1223 ">
	</a>
</div>

</div>

			</aside>

		</div>
	</div>