<% provide(:title, 'Edit user') %>
<% provide(:button_text, 'Save changes') %>


<body style="background: url(images/background/8.jpg)">
    <div class="container-fuild">
       
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3 header-inner">
                        <a href="#"><img src="images/logo.png" alt=""></a>
                    </div>
                </div>
                
                <div class="col-md-12">
                    <div class="row profile">
                        <%= render 'shared/avatar' %>
                        <div class="col-sm-9">
                            <div class="tabs widget">
                                <div class="tab-content">
                                    
                                            
                                    <%= render 'post_detail' %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
            
        </div>
    </div>
    <script type='text/javascript' src='js/jquery.mobile.customized.min.js'></script>
    <script type='text/javascript' src='js/jquery.easing.1.3.js'></script> 
    <script type='text/javascript' src='js/camera.min.js'></script> 
    <script src="owlcarousel/owl.carousel.min.js"></script>
    <script src="js/homepage.js"></script>
</body> 
